@model IEnumerable<BankApplication.Models.Entity.Bank>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center fw-bold">Welcome Bank Version 3.0</h1>

<div class="mt-4">
    <a class="btn btn-info mb-3 fw-bold" asp-action="CreateBankWithBranch">Create</a>
  <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Bank Name</th>
                <th>Bank Logo</th>
                <th>Bank Address</th>
                <th>Branches</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>
            @if(Model.Any())
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @item.BankName   
                        </td>

                        <td>
                            @if(item.Logo != null)
                            {
                                var fileName = System.IO.Path.GetFileName(item.Logo);
                                <img src="@Url.Action("GetFile","Bank", new{fileName})" style="width:50px; height:50px" />
                            }
                        </td>

                        <td>
                            @item.BankAddress
                        </td>

                        <td>
                            @item.Branches.Count
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="EditBankWithBranch" asp-route-id="@item.BankId">Update</a>
                        </td>
                    </tr>
                    
                }
            }

            else
            {
                <tr class="text-center text-danger">No Row Found!</tr>
            }
            
        </tbody>
    
  </table> 


</div>