@model List<FluentApi.Models.User>
@{
    ViewData["Title"] = "Index";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to User Section</h1>
</div>

<p class="align-items-md-start mt-2">
    <a asp-controller="User" asp-action="CreateUser" class="btn btn-info fw-bold">Add New User</a>
</p>


<div class="container ">

    @if (Model != null)
    {
        <table class="table table-bordered table-hover text-center table-striped">
            <thead>
                <tr>
                    <th colspan="3">User Table</th>
                    <th colspan="3">Passport Table</th>
                    <th colspan="5">Address Table</th>
                    

                </tr>
                <tr>
                    <th>U-Id</th>
                    <th>U-Name</th>
                    <th>U-BirthDate</th>
                    <th>P-Id</th>
                    <th>P-Number</th>
                    <th>P-IsValid</th>
                    <th>A-Id</th>
                    <td>A-City</td>
                    <td>A-Section</td>
                    <td>A-Road</td>
                    <td>A-Zip</td>
                    <th>Action</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserName</td>
                        <td>@item.Birthdate</td>
                        <td>@item.PassportId</td>

                         <td>@(item.Passport != null ? item.Passport.PassportNumber : "No Passport" )</td>
                         <td>@(item.Passport != null ? item.Passport.IsValid : "None")</td>
                         <td>@item.AddressId</td>
                         <td>@(item.Address != null ? item.Address.CityName : "None" )</td>
                         <td>@(item.Address != null ? item.Address.SectionName : "None")</td>
                         <td>@(item.Address != null ? item.Address.RoadNumber: "None")</td>
                         <td>@(item.Address != null ? item.Address.ZipCode : "None")</td>

                        @* <td>@(item.Passport.PassportNumber)</td>
                        <td>@(item.Passport.IsValid)</td>
                        <td>@item.AddressId</td>
                        <td>@(item.Address.CityName)</td>
                        <td>@(item.Address.SectionName)</td>
                        <td>@(item.Address.RoadNumber)</td>
                        <td>@(item.Address.ZipCode)</td> *@
                        <td>
                            <a asp-action="EditUser" asp-route-id="@item.UserId" class="btn btn-secondary">Update</a>
                            <a asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

</div>