@model List<FluentApi.Models.User>
@{
    ViewData["Title"] = "Index";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to User Section</h1>
</div>

<p class="align-items-md-start mt-2">
    <a asp-controller="User" asp-action="CreateUser" class="btn btn-info fw-bold">Add New User</a>
</p>


<div class="container ">

    @if (Model != null)
    {
        <table class="table table-bordered table-hover text-center table-striped">
            <thead>
                @* <tr>
                    <th colspan="3">User Table</th>
                    <th colspan="3">Passport Table</th>
                    <th colspan="5">Address Table</th>                  
                </tr> *@
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                    <th>Passport Number</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserName</td>

                         <td>@(item.Passport != null ? item.Passport.PassportNumber : "No Passport" )</td>


                         <td>@(item.Address != null ? item.Address.CityName : "None" )</td>
                        
                       
                         <td>@(item.Address != null ? item.Address.ZipCode : "None")</td>

                        <td>
                            <a asp-action="EditUser" asp-route-id="@item.UserId" class="btn btn-secondary">Update</a>
                            <a asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                            <a asp-action="DetailsUser" asp-route-id="@item.UserId" class="btn btn-info">Details</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

</div>