@model IEnumerable<MvcMovieOneToMany.Models.Movie>
@{
    ViewData["Title"] = "MovieList";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class=" alert alert-success fw-bold">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["UpdateMessage"] != null)
{
    <div class=" alert alert-warning fw-bold">
        @TempData["UpdateMessage"]
    </div>
}
@if (TempData["DeleteMessage"] != null)
{
    <div class=" alert alert-danger fw-bold">
        @TempData["DeleteMessage"]
    </div>
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to MovieList Section</h1>
</div>

<p class="align-items-md-start mt-2">
    <a asp-controller="Movie" asp-action="CreateMovie" class="btn btn-info fw-bold">Add New Movie</a>
</p>
<div>
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Movie Id</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          @foreach(var item in Model)
            {
                <tr>
                    <td>@item.MovieId</td>
                    <td>@item.Title</td>
                     @*  <td>@item.Genre.GenreName</td> *@
                    <td>@(item.Genre != null ? item.Genre.GenreName : "No Genre")</td>
                    <td>
                        <a asp-action="EditMovie" asp-route-id="@item.MovieId" class="btn btn-secondary">Update</a>
                        <a asp-action="DeleteMovie" asp-route-id="@item.MovieId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
