@model IEnumerable<BankApplication.Models.Entity.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-info fw-bold" asp-action="Create">Create-Single</a>
    <a class="btn btn-info fw-bold" asp-action="CreateMultiple">Create-Multiple</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>

                        <td>
                            @if (item != null)
                            {
                                var fileName = System.IO.Path.GetFileName(item.BranchLogo);
                                <img src="@Url.Action("GetFile", "Bank", new { fileName })" style="width:50px; height:50px;" />
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Bank.BankName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        <td>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.BranchId">Details</a> |
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
                        </td>
                    </tr>
            }
    </tbody>
</table>
