@model IEnumerable<MvcBank.Models.Branch>
@{
    ViewData["Title"] = "BranchList";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class=" alert alert-success fw-bold">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["UpdateMessage"] != null)
{
    <div class=" alert alert-warning fw-bold">
        @TempData["UpdateMessage"]
    </div>
}
@if (TempData["DeleteMessage"] != null)
{
    <div class=" alert alert-danger fw-bold">
        @TempData["DeleteMessage"]
    </div>
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1> BranchList Section</h1>
</div>

<p class="align-items-md-start mt-2">
    <a asp-controller="Branch" asp-action="CreateBranch" class="btn btn-info fw-bold">Add New Branch</a>
</p>
<div>
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Branch Id</th>
                <th>Branch Name</th>
                <th>Bank Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BranchId</td>
                    <td>@item.BranchName</td>
                    <td>@(item.Bank != null ? item.Bank.BankName : "Doesn\'t Exists")</td>
                    <td>
                        <a asp-action="EditBranch" asp-route-id="@item.BranchId" class="btn btn-secondary">Update</a>
                        <a asp-action="DeleteBranch" asp-route-id="@item.BranchId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
