@model IEnumerable<StudentCrudWithViewModel.ViewModels.StudentInfoJoinViewModel>

@{
    ViewData["Title"] = "StudentList";
}
<div class="text-center fw-bold bg-secondary bg-opacity-25 py-3">
    <h2 class="text-center">Full Information Using Join </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Class</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StudentId</td>
                            <td>@item.Name</td>
                            <td>@item.Age</td>
                            <td>@item.Class</td>
                            <td>@item.City</td>
                            <td>@item.Region</td>
                        </tr>
                    }

                </tbody>


            </table>

        </div>

    </div>

</div>