@* @model BankApplication.Models.ViewModels.EditBankVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankId" />
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">ExistingLogo </label>
                @if (Model.ExistingLogo != null)
                {
                    var fileName = System.IO.Path.GetFileName(Model.ExistingLogo);
                    <img src="@Url.Action("GetFile", "Bank", new { fileName })" style="width:50px; height:50px;" />

                }

            </div>
            <br />

            <div class="form-group">
                <label class="control-label">Upload New Logo</label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="BankAddress" class="control-label"></label>
                <input asp-for="BankAddress" class="form-control" />
                <span asp-validation-for="BankAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 *@


@model BankApplication.Models.ViewModels.EditBankVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Bank</h1>

<div id="response-message">

</div>

<div class="row">
    <div class="col-md-4">
        <form id="editBankForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="BankId" value="@Model.BankId" />
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" id="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">Existing Logo</label>
                @if (Model.ExistingLogo != null)
                {
                    var fileName = System.IO.Path.GetFileName(Model.ExistingLogo);
                    <img src="@Url.Action("GetFile", "Bank", new { fileName })" style="width:50px; height:50px;" />
                }
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">Upload New Logo</label>
                <input id="Logo" type="file" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="BankAddress" class="control-label"></label>
                <input asp-for="BankAddress" id="BankAddress" class="form-control" />
                <span asp-validation-for="BankAddress" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <button type="button" id="submitEditForm" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitEditForm').click(function (e) {
            e.preventDefault();

            var formData = new FormData();
            formData.append('BankId', $('#BankId').val());
            formData.append('BankName', $('#BankName').val());
            formData.append('BankAddress', $('#BankAddress').val());

            var logoFile = $('#Logo')[0].files[0];
            if (logoFile) {
                formData.append('Logo', logoFile);
            }

            $.ajax({
                url: '@Url.Action("Edit", "Bank")',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                Cache: false,
                success: function (response) {
                    if (response.success) {
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(() => {
                            window.location.href = '@Url.Action("Index", "Bank")';
                        }, 2000);
                    } else {
                        $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function (xhr, status, error) {
                    $('#response-message').html('<div class="alert alert-danger">An error occurred: ' + xhr.responseText + '</div>');
                }
            });
        });
    });
</script>
