@model IEnumerable<BankApplication.Models.Entity.Bank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-info fw-bold" asp-action="Create">Create-Single</a>
    <a class="btn btn-info fw-bold" asp-action="CreateMultiple">Create-Multiple</a>
    <a class="btn btn-info fw-bold" asp-action="CreateBankWithBranch">Create-Single-Bank-With-Branch</a> 
    <a class="btn btn-info fw-bold" asp-action="CreateBankWithMultipleBranch">Create-Multiple-Bank-With-Branch</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>

                <td>
                    @if (item.Logo != null)
                    {
                        var fileName = System.IO.Path.GetFileName(item.Logo);
                        <img src="@Url.Action("GetFile", "Bank", new { fileName })" style="width:50px; height:50px;" />
                        
                    }

                             
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BankAddress)
                </td>

                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.BankId">Edit</a> |
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.BankId">Update</a> |
                    <a class="btn btn-warning" asp-action="EditBankWithMultipleBranch" asp-route-id="@item.BankId">Update2.0</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BankId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BankId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
