@model DataAccessLayer.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Student Details";
}

<h2 class="text-center fw-bold">Student Details Information</h2>
<br />
<table class="table table-bordered table-hover text-center">
    <tr class="visually-hidden">
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Acadamic Class</th>
        <td>@Model.Class</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Biography</th>
        <td>@Model.Bio</td>
    </tr>
</table>
<div class="d-flex justify-content-center">
    <a class="btn btn-secondary " asp-action="Index">Back to List</a>
</div>

